:root {
    --blue-1: #3C429E;
    --blue-2: #5E6BFF;
    --yellow: #FFD700;
    --white: #FFFFFF;
    --grey: #ababab;
    --shadow-dark: rgba(0, 0, 0, 0.5);
    --shadow-light: rgba(255, 255, 255, 0.1);
    --text-color: #fdfce6;

}
  

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 2rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    background: var(--blue-2);
    color: var(--text-color);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 1px solid black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
    box-shadow: 4px 4px 10px var(--shadow-dark);
  }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-1);
    justify-content: center;
}

.container {
    max-width: 450px;
    min-width: 300px;
    height: 80vh;
    min-height: 650px;
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 4px 4px 10px var(--shadow-dark);
    border: 3px solid black;
    border-radius: 25px;
}

.upper-data {
    width: 100%;
    height: 50%;
    border-bottom: 3px solid black;
}

.upper-data > img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.weather-data {
    position: relative;
    top: -65%;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 50%;
    color: var(--text-color);
    font-size: xx-large;
    font-weight: bold;
}

/* .location {

} */

.temperature {
    font-size: 2em;
}

.lower-data {
    padding: 10px;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

.card {
    border: 5px solid var(--blue-1);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 5px var(--shadow-dark);
}

.card-icon > img {
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px var(--shadow-dark);
    width: 3.5em;
    height: 3.5em;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-data {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    font-weight: bold;
    font-size: large;
    color:var(--text-color);
}

.search {
    margin-bottom: 1em;
    /* text-align: center; */
}

.search input {
    border-radius: 20px;
    border: 1px solid black;
    color: var(--text-color);
    padding: 1em;
    font-size: 0.8em;
    text-align: center;
    background-color: var(--blue-2);
    box-shadow: 3px 3px 5px var(--shadow-dark);
}

.search input::placeholder {
    color: var(--text-color);
}

.search input:focus::placeholder {
    color: transparent;
}


